# Explore data

The World Happiness data is composed of three different datasets :

* [The world happiness report dataset](https://www.kaggle.com/unsdsn/world-happiness) - Kaggle
* [The global suicide indicators dataset](https://www.kaggle.com/andrewmvd/suicide-dataset) - Kaggle
* [A list of homicide victims](https://en.wikipedia.org/wiki/List_of_countries_by_intentional_homicide_rate) - Wikipedia

In [3]:
import pandas as pd
import numpy as np
from sqlalchemy import create_engine
import pymysql
import seaborn as sns

## Connect to database

In [4]:
#environment:
MYSQL_DATABASE='WH_docker'
MYSQL_USER= 'sboomi'
MYSQL_PASSWORD= 'sboomi'
MYSQL_ROOT_PASSWORD= 'root2020'
host="127.0.0.1:3306" #'0.0.0.0:3306'

DATABASE_URL= "mysql+pymysql://{user}:{pw}@{host}/{db}".format(user=MYSQL_USER,host=host,pw=MYSQL_PASSWORD,db=MYSQL_DATABASE)
print(DATABASE_URL)

mysql+pymysql://sboomi:sboomi@127.0.0.1:3306/WH_docker

In [5]:
engine = create_engine(DATABASE_URL)
connection = engine.connect()

In [9]:
# List tables
reqprox= connection.execute('SHOW TABLES')
frames = {}

for i, row in enumerate(reqprox):
    table, = row
    print(f"table n°{i}:", table)
    frames[table] = pd.read_sql_table(table, connection)  
    
connection.close()

table n°0: danger_100k
table n°1: happy
table n°2: suicide_100k

## Analyse des données

In [10]:
frames

{'danger_100k':      index           country   rate  count  year
 0        0           Burundi   6.02    635  2016
 1        1           Comoros   7.70     60  2015
 2        2          Djibouti   6.48     60  2015
 3        3           Eritrea   8.04    390  2015
 4        4          Ethiopia   7.56   7552  2015
 ..     ...               ...    ...    ...   ...
 225    225  French Polynesia   0.38      1  2009
 226    226              Niue   0.00      0  2012
 227    227             Samoa   3.15      6  2013
 228    228             Tonga   0.95      1  2012
 229    229            Tuvalu  18.65      2  2012

 [230 rows x 5 columns],
 'happy':      index                   country  freedom  economy   health    score  \
 0        0               Switzerland    7.587  1.39651  1.34951  0.94143
 1        1                   Iceland    7.561  1.30232  1.40223  0.94784
 2        2                   Denmark    7.527  1.32548  1.36058  0.87464
 3        3                    Norway    7.522  1.45900  1.33095  0.88521
 4        4                    Canada    7.427  1.32629  1.32261  0.90563
 ..     ...                       ...      ...      ...      ...      ...
 777    777                    Rwanda    3.334  0.35900  0.71100  0.61400
 778    778                  Tanzania    3.231  0.47600  0.88500  0.49900
 779    779               Afghanistan    3.203  0.35000  0.51700  0.36100
 780    780  Central African Republic    3.083  0.02600  0.00000  0.10500
 781    781               South Sudan    2.853  0.30600  0.57500  0.29500

      corruption  social_support  generosity  year
 0       0.66557         0.41978     0.29678  2015
 1       0.62877         0.14145     0.43630  2015
 2       0.64938         0.48357     0.34139  2015
 3       0.66973         0.36503     0.34699  2015
 4       0.63297         0.32957     0.45811  2015
 ..          ...             ...         ...   ...
 777     0.55500         0.21700     0.41100  2019
 778     0.41700         0.27600     0.14700  2019
 779     0.00000         0.15800     0.02500  2019
 780     0.22500         0.23500     0.03500  2019
 781     0.01000         0.20200     0.09100  2019

 [782 rows x 10 columns],
 'suicide_100k':       index                             country          sex  year  \
 0         0                         Afghanistan   Both sexes  2000
 1         1                         Afghanistan         Male  2000
 2         2                         Afghanistan       Female  2000
 3         3                             Albania   Both sexes  2000
 4         4                             Albania         Male  2000
 ...     ...                                 ...          ...   ...
 2712   2712  Venezuela (Bolivarian Republic of)         None  2017
 2713   2713                            Viet Nam         None  2017
 2714   2714                               Yemen         None  2017
 2715   2715                              Zambia         None  2017
 2716   2716                            Zimbabwe         None  2017

       suicide_rate
 0              8.1
 1             14.3
 2              1.7
 3              5.8
 4              8.2
 ...            ...
 2712           NaN
 2713           NaN
 2714           NaN
 2715           NaN
 2716           NaN

 [2717 rows x 5 columns]}